@(artist:Artist,album:Album,tracks:List[Track])(implicit request: play.api.mvc.RequestHeader)
@import utils.session._
@import utils.Utils.price
@import utils.Utils.mediaURL
@addTracks(domain:String)={
@tracks.map{t=>
pl.push({'slug':'@t.slug','id':@t.id,'artist_id':@t.artistID,'price':@t.price,'title':'@escapeJavaScript(t.name)', 'file':'@(t.previewURL(domain))', 'duration':'@t.duration'});
}
}
@display.templateBuy()
@main(album.name,"display-album display"){
<script type="text/javascript">
    window.app_config.update({
        includes:["jwplayer"],
        config:{
            paths:{
                "jwplayer":"libs/jwplayer/jwplayer"
            }
        }
    })
</script>
<div id="details-left" class="span5">
    <h2 class="trackTime">@album.name</h2>

    <h3>by @album.artistName.getOrElse(artist.name)</h3>

    <div id="player-proxy">
        <div id="player-proxy-inner"></div>
    </div>
    <div id="player">
        <a href="#" class="play action">


        </a>

        <div id="player-control-bar">
            <div class="bottom">
                <span class="title"></span>
                <span class="time"></span>

                <div class="slider">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>


            </div>
            <div class="nav">
                <a href="#" class="prev"><i class="icon-fast-backward"></i></a>
                <a href="#" class="next"><i class="icon-fast-forward"></i></a>
            </div>
        </div>
    </div>
    <h3>
        <a href="#" class="download">Digital Album</a>
    </h3>

    <p>Digital Album
        Immediate download of @(tracks.length)-track album in your choice of MP3 320, FLAC, or just about any other
        format
        you could possibly desire.</p>

    <p>
        <a href="/album/@(album.slug)/download" class="download">Buy Now</a>  @price(album.price) USD  or more
    </p>

    <table id="track-list">

        @for((t,i) <-tracks.view.zipWithIndex){
        @display.trackRow(i,t)
        }
    </table>
    @album.about.map{l=>
    <h3>About</h3>
    <p>@l</p>

    }
    @album.credits.map{l=>
    <h3>Credits</h3>
    <p>@l</p>

    }
</div>

<div id="details-right" class="span5 pull-left">
    <div class="album-art">
        @if(!album.artURL.isEmpty){
            <img src="@album.artURL"/>
        }
    </div>

</div>



<script type="text/javascript">
    var pl = [];

    @addTracks(mediaURL)
    window.app_config.playlist = pl;
    window.app_config.model={'kind':'album','slug':'@album.slug','artist_id':@album.artistID,'price':@album.price,'title':'@escapeJavaScript(album.name)'};
</script>




}

