@(artist:Artist,album:Option[Album],track:Track)(implicit request: play.api.mvc.RequestHeader)
@import utils.session._
@import utils.Utils.price
@import utils.Utils.mediaURL
@import tags._
@addTracks(domain:String)={

pl.push({'kind':"track",'id':@track.id,'slug':'@track.slug','artist_id':@track.artistID,'price':@track.price,'title':'@escapeJavaScript(track.name)', 'file':'@(track.previewURL(domain))', 'duration':'@track.duration'});

}
@display.templateBuy()
@main(track.name,"display-track display"){

<div id="details-left" class="span6">
    <h2 class="trackTime">@track.name</h2>

    <h3>by @track.artistName.getOrElse(artist.name)</h3>

    <div id="player-proxy">
        <div id="player-proxy-inner"></div>
    </div>
    <div id="player">
        <a href="#" class="play action">


        </a>

        <div id="player-control-bar">
            <div class="bottom">
                <span class="title"></span>
                <span class="time"></span>

                <div class="slider">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>


            </div>
            <div class="nav">
                <a href="#" class="prev"><i class="icon-fast-backward"></i></a>
                <a href="#" class="next"><i class="icon-fast-forward"></i></a>
            </div>
        </div>
    </div>
    <h3>
        <a href="#" class="download">Digital Track</a>
    </h3>

    <p>Immediate download of "@track.name" in your choice of MP3 320.</p>

    <p>
        <a href="/track/@(track.slug)/?action=download" class="download"><h3 class="inline">Buy Now</h3></a>
        @price(track.price) USD or more
    </p>


    @album.map{a=>
    <h3>
        <a href="/album/@a.slug">View Other Tracks from @a.name</a>
    </h3>
    }
    @section("Lyrics",track.lyrics)

    @section("Credits",track.credits)

    <!-- <table id="track-list">


        @display.trackRow(0,track)

    </table>-->
    @if(track.tags.nonEmpty){
    <div class="tags">
        <span>tags:</span> @track.tags.map(_.name).mkString(",")
    </div>
    }
    @track.genre.map{ g=>
    <div class="genre">
            <span>Genre:</span>@g.name
        </div>

    }

</div>

<div id="details-right" class="span5 pull-left">
    <div class="album-art">

        @if(track.art.isDefined || album.isEmpty ){
            <img src="@track.artURL"/>
        }else{
            @album.map{a=><img src="@a.artURL"/>}

        }
    </div>
    @display.share()

</div>


<script type="text/javascript">
    var pl = [];

    @addTracks(mediaURL)
    window.app_config.playlist = pl;
    window.app_config.model = pl[0];
</script>


}

