@(albums:Seq[Album])(implicit request: play.api.mvc.RequestHeader)
@import utils.session._


@main("My Albums","albums"){

@if(albums.isEmpty){
<h2>No Albums go create some</h2>
<div class="row span4 center">
    <a href="@routes.Artists.newAlbum()" class="btn btn-primary btn-xlarge">Add an Album</a>
</div>
}else{

<h2>My Albums</h2>
<ul id="my-albums">
    @albums.map{a=>

    <li data-slug="@a.slug">

        <a href="@routes.Artists.editAlbum(a.slug)">
            @a.smallArtImage.map{i=>
                <img src="@i.url"/>
            }


        </a>

        <div class="info">
            <div class="name">@a.name</div>
            <div class="artist">@a.artistName.getOrElse(SessionHelper.artist.name)</div>
        </div>
        <div class="actions">
            <div>
                <a href="@routes.Artists.editAlbum(a.slug)">Edit</a>
            </div>
            <div>
                <a href="/album/@a.slug" class="view">View</a>
            </div>
            <div>
                <a href="#" class="delete">Delete</a>
            </div>
        </div>


    </li>

    }
</ul>


}


}