
@import tags._

<ul id="navbar" class="nav clearfix">
    <li class="dropdown" id="add-music">
        <a class="dropdown-toggle" href="#add-music" data-toggle="dropdown">add music<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@routes.Artists.newAlbum()">add album</a></li>
            <li><a href="@routes.Artists.addTrack()">add track</a></li>

        </ul>
    </li>
    <li  >
            <a class="dropdown-toggle" href="@routes.Artists.albums()" data-toggle="dropdown">my albums</a>

        </li>
</ul>


