@()(implicit request: play.api.mvc.RequestHeader)
@import utils.session._
@import utils.Utils.domain

@if(SessionHelper.authenticated){
<ul id="navbar" class="nav clearfix">
    <li class="dropdown" id="add-music">
        <a class="dropdown-toggle" href="#add-music" data-toggle="dropdown">add music<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="@routes.Artists.newAlbum()">add album</a></li>
            <li><a href="@routes.Artists.newTrack()">add track</a></li>

        </ul>
    </li>
    <li>
        <a  href="@routes.Artists.albums()" >my albums</a>

    </li>
    <li>
        <a  href="@routes.Artists.tracks()">my tracks</a>

    </li>
    <li>
        <a  href="http://@(domain)/logout">logout</a>

    </li>
    <li>
        <a href="http://@(domain)">Back to bulabowl.com</a>
    </li>
</ul>
}


