@()(implicit request: play.api.mvc.RequestHeader)
@import utils.session._


@main(SessionHelper.username,"welcome"){

<div id="add-album" class="row">

    <h2>Thanks for joining Bandcamp @SessionHelper.username!</h2>

    <p>
        This is your music's home page. A tabula rasa! Completely
        unspoiled! Deeply inhale the crisp, clean air, hold it, and then...
    </p>

    <div class="row span4 offset2">
        <a href="@routes.Artists.addAlbum()" class="btn btn-primary btn-xlarge">Add an Album</a> or <a
            href="@routes.Artists.addTrack()" class="btn btn-primary btn-xlarge">Add Track</a>
    </div>
</div>


}