@()(implicit request: play.api.mvc.RequestHeader)
@import utils.session._


@main(SessionHelper.username,"welcome"){


    <h2>Thanks for joining Bulabowl @SessionHelper.username!</h2>

    <p>
        This is your music's home page. A tabula rasa! Completely
        unspoiled! Deeply inhale the crisp, clean air, hold it, and then...
    </p>

    <div class="row span6 center">
        <a href="@routes.Artists.newAlbum()" class="btn btn-primary btn-xlarge">Add an Album</a> or <a
            href="@routes.Artists.newTrack()" class="btn btn-primary btn-xlarge">Add Track</a>
    </div>



}