@(albumForm: Form[(Album, Seq[Track])])(implicit  user:Artist,request: play.api.mvc.RequestHeader)
@import helper._
@import utils.session._

@main("New Album","new-album"){


@helper.form(action=routes.Artists.insertTrack){

<script type="text/template" id="tpl-track">

        <div class="right-panel input-block">
            @artist.track(albumForm("tracks"))
        </div>
        <div class="left-panel span6">
            <div class="track-overview album-info">
                <div class="drag"></div>
                <a class="delete" href="#"><i class="icon-remove"></i></a>

                <p class="title">Unnamed Track</p>

                @artist.uploadTemplate()
                <p class="details"></p>
            </div>
        </div>


</script>

<div id="album">
    <div class="left-panel span6">
        @artist.trackOverview("Untitled Album")
    </div>
    <div class="right-panel album-block">
        @artist.album(albumForm("album"))
    </div>
</div>

<div id="tracks-wrapper">
    <h3>Tracks
     <span class="upload-progress">
            <span class="percent"></span>% complete,
            <span class="duration"></span> remaining
        </span>
    </h3>
    <ol class="tracks">


    </ol>

</div>
<div id="upload">
    @artist.upload("Audio","add audio")
</div>


<div id="save" class="span6 row no-float">
    @artist.save()
</div>
}


}