@(albumForm: Form[(Album, Seq[Track])])(implicit  user:Artist,request: play.api.mvc.RequestHeader)
@import helper._
@import utils.session._

@main("New Album","new-album"){


@helper.form(action=routes.Artists.insertTrack){
<script type="text/template" id="tpl-track-overview">


    @artist.albumTrackUpload()
</script>
<script type="text/template" id="tpl-track-input">
    @artist.track(albumForm("tracks"))
</script>
<div class="left-panel span6">
    @artist.trackOverview("Untitled Album")
    <div id="track-overviews" class="tracks">
        <h3>Tracks</h3>
         <span class="upload-progress">
            <span class="percent"></span>% complete,
            <span class="duration"></span> remaining
        </span>
        <div class="inner"></div>
    </div>
</div>


<div class="right-panel span6">

    @artist.album(albumForm("album"))
    <div id="track-inputs" class="tracks">

    </div>


</div>
@artist.upload("Audio","add audio")
@artist.save()
}


}