@(tagsForm:Form[(Long, Option[String], Option[String])],genres:List[(String,String)])(implicit request: play.api.mvc.RequestHeader)
@import tags._
@import helper._
@import helpers.twitterBootstrapCustom._
@import utils.session._

@implicitField = @{ FieldConstructor(twitterBootstrapFieldConstructorCustom.f) }

@main("Welcome"){


    <h2>Welcom,@SessionHelper.username</h2>

    @helper.form(action=routes.Artists.insertTags,'class->"form-horizontal"){

    @select(tagsForm("genre"),genres,
    '_label->"Genre",
    '_default->"select one",
    '_showConstraints -> false)
    <div class="control-group">
        <div class="controls">
            <p>We'll use your genre selection to help new fans find you. It's OK if you don't fit perfectly within one
                of
                these -
                just pick the genre that best represents the section of a record store where you'd like your music to
                appear, and
                then use the genre tag field, below, to provide more granularity.</p>
        </div>
    </div>

    @inputText(tagsForm("tags"),'class->"input-xlarge",'_label->"Genre tag(s)")
    @inputText(tagsForm("location"),'_class->"hide",'class->"input-xlarge",'_label->"Location",
    'placeholder->"e.g., Seattle, WA -- onelocation only,please",
    'title->"e.g., Seattle, WA -- one location only, please")
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Next" class="btn btn-primary btn-large"/>
        </div>
    </div>

    }




}