@(artist: Artist, profile: Form[ProfileInfo], genres: List[(String, String)])(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash)
@import utils.session._
@import helper._
@import helpers.twitterBootstrapCustom._
@implicitField = @{
FieldConstructor(twitterBootstrapFieldConstructorCustom.f)
}


@main(SessionHelper.username, "profile") {


<h2>Update your profile information</h2>
<h4 class="purple">
    @flash.get("success")
</h4>
@helper.form(action = routes.Artists.updateProfile) {
<fieldset class="control-group">
    @inputText(profile("name"), '_label -> "Profile Name", 'placeholder -> "artist name",
    '_showConstraints -> false, 'maxlength -> "100")
    @inputText(profile("username"), '_label -> "Username", 'placeholder -> "username",
    '_showConstraints -> false, 'maxlength -> "45")




    @inputText(profile("email"), '_label -> "Paypal email ",
    'placeholder -> "leave blank to keep the same email", '_showConstraints -> false)
</fieldset>

<fieldset class="control-group">
    <h3>Change Password</h3>

    @inputPassword(profile("passwords.password"), '_label -> "New Password", 'placeholder -> "new password",
    '_showConstraints -> false, 'maxlength -> "45")

    @inputPassword(profile("passwords.confirm_password"), '_label -> "Confirm password",
    'placeholder -> "confirm password",
    '_showConstraints -> false, 'maxlength -> "45", 'type -> "password")
</fieldset>

<div class="control-group">
    <div class="controls">
        <input type="submit" value="Update" class="btn btn-primary btn-large"/>
    </div>
</div>


}
}