@()(implicit request: play.api.mvc.RequestHeader)


@main("Stats","stats"){
<script type="text/template" id="tpl-sales">

    <tr>
        <td class="rank"><span><%=rank%>.</span></td>
        <td class="title">
            <a href="/<%=kind%>/<%=slug%>"><%=name=></a>
        </td>
        <td class="bar">
            <table>
                <tbody>
                <tr>
                    <td class="purchases">
                        <span class="complete_text"><%=total%></span></td>
                    <td class="revenue">
                        <span class="partial_text"><%=partial%></span></td>
                    <td class="skip_width" style="width:<%=skip_ratio%>">
                        <span class="skip_text"><%=skip></span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</script>
<script type="text/template" id="tpl-plays">

    <tr>
        <td class="rank"><span><%=rank%>.</span></td>
        <td class="title">
            <%=title%>
        </td>
        <td class="total">
            <%= metrics.play %>
        </td>
        <td class="span1"></td>
        <td class="bars">
            <table>

                <tr>


                    <% if(metrics.complete_ratio) {%>
                    <td class="complete" style="width:<%= metrics.complete_ratio %>%">
                        <div class="text"><%= metrics.complete %></div>
                        <div class="bar"></div>
                    </td>
                    <% }%>
                    <% if(metrics.partial_ratio) {%>
                    <td class="partial" style="width:<%= metrics.partial_ratio %>%">
                        <div class="text"><%= metrics.partial %></div>
                        <div class="bar"></div>
                    </td>
                    <% }%>
                    <% if(metrics.skip_ratio) {%>
                    <td class="skip" style="width:<%= metrics.skip_ratio %>%">
                        <div class="text"><%=metrics.skip%></div>
                        <div class="bar"></div>
                    </td>
                    <% }%>

                </tr>

            </table>

        </td>
    </tr>
</script>
<div class="row">
    <ul>
        <li><a href="#" id="stats-play">Plays</a></li>
        <li><a href="#" id="stats-sales">Sales/Downloads</a></li>
    </ul>


</div>
<div id="chart">

</div>

<table id="plays-stats">
    <thead>
    <th class="rank"></th>
    <th class="title">
        track
    </th>
    <th class="total">
        plays
    </th>
    <td class="span1"></td>
    <th class="bars">
        <span class="complete"><span class="bar"></span>complete</span>
        <span class="partial"><span class="bar"></span>partial</span>
        <span class="skip"><span class="bar"></span>skip</span>
    </th>
    </thead>
    <tbody class="stats-body">
    <tr>
        <td class="rank"><span>1.</span></td>
        <td class="title">

        </td>
        <td class="bar">
            <table>
                <tbody>
                <tr>
                    <td class="complete_width"><span class="complete_text"></span></td>
                    <td class="partial_width"><span class="partial_text"></span></td>
                    <td class="skip_width"><span class="skip_text"></span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

}