@(title: String, nav: Html = Html(""),bodyClass:String="")(content: Html)(implicit request: play.api.mvc.RequestHeader)
@import utils.Utils

<!DOCTYPE html>

<html>
<head>
    <title>@title | Bula Bowl</title>
    <script type="text/javascript">
        window["app_config"] = {
            includes:[],
            config: {
               baseUrl:"@Utils.mediaURL/javascripts"
            },
            uri:{
                media:"@Utils.mediaURL",
                upload:""

            },
            update:function(info){
                window.app_config.config = $.extend(window.app_config.config, info.config);
                window.app_config.includes = window.app_config.includes.concat(info.includes || [])
            }

        };
    </script>
    <link rel="stylesheet" media="screen" href="http://localhost:9001/assets/stylesheets/bootstrap/bootstrap.min.css"/>
    <!--<link rel="stylesheet" media="screen" href="@(Utils.mediaURL)/stylesheets/bootstrap/bootstrap.min.css"/> -->

    <link rel="shortcut icon" type="image/png" href="@(Utils.mediaURL)/images/favicon.png">


    <script data-main="@(Utils.mediaURL)/javascripts/main" src="@(Utils.mediaURL)/javascripts/require.js" type="text/javascript"></script>

</head>
<body class="@bodyClass">
<div class="container">
    <div id="header">
        @nav
    </div>
    <div id="content" class="row">
        @content
    </div>
</div>

@footer()
</body>
</html>
