@(forgotForm: Form[String])(implicit request: play.api.mvc.RequestHeader)
@import helper._
@import helpers.twitterBootstrapCustom._
@implicitField = @{ FieldConstructor(twitterBootstrapFieldConstructorCustom.f) }

@main("Forgot Password"){

@helper.form(action = routes.Application.sendForgottenPassword,'class->"form-horizontal span6 center") {


<h2>Forgot Your Password?</h2>
<p>No problem! Just enter your username, or the email address you provided when you signed up:</p>
@inputText(forgotForm("email"),'_error->"We didn't recognize that username or email address. Please try again.")

<div class="control-group">
    <div class="controls">
        <input type="submit" value="Ok" class="btn btn-primary btn-large"/>
        <a href="/">Cancel</a>
    </div>
</div>
}


}