@()(implicit request: play.api.mvc.RequestHeader)
@nav={
    @header()
}
@common("Welcome to Play 2.0",nav){

<div class="span4">
    <div id="signup">
        <img src="/assets/images/logo.png"/>
        <a id="signup-button" href="@routes.Application.signup()">Singup</a>
    </div>

</div>
<div class="span4 hero-unit2">
    <h1>MUSIC, PASSION, PERFORMANCE.</h1>

    <p>Join, create and promote your music!
        Here is a small blerb about who we are
        and what service we provide for
        musicians and fans of discoving
        new music and stuff!</p>
</div>

<div class="span4">
    <a href="#" id="overlay">
        <img src="/assets/images/video_overlay.jpg"/>
    </a>
</div>

}