@(artist:Artist,item:SaleAbleItem,imageFormat:String="small")(implicit request: play.api.mvc.RequestHeader)
@import utils.Discover
@mediumImage={
    @item.artImage.getOrResize(Discover()).url
}
<li class="display-item">
    @defining("http://"+artist.domain+"."+request.host){domain=>
        <a href="@domain/@(item.itemType)/@item.itemSlug">
            @imageFormat match{
                case "small" => {<img src="@item.smallArtURL"></a>}
                case "medium" => {<img src="@mediumImage"></a>}
            }

        <h4><a href="@domain/@(item.itemType)/@item.itemSlug">@item.itemTitle</a></h4>

        <h4 class="by">by <a href="@domain/@(item.itemType)/@item.itemSlug"> @item.itemArtistName.getOrElse(artist.name)</a></h4>
    }
</li>
