@(loginForm: Form[Option[Artist]])
@import helper._
@import helpers.twitterBootstrapCustom._
@implicitField = @{ FieldConstructor(twitterBootstrapFieldConstructorCustom.f) }

@main("Login"){

    @helper.form(action = routes.Application.login,'class->"form-horizontal span6 center") {


    <h2>Account Login</h2>
    @inputText(loginForm("username"))

    @inputPassword(loginForm("password"))
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Login" class="btn btn-primary btn-large"/>
        </div>
    </div>
    }


}